(css/apps.css, css/base.css, css/components.css, css/desktop.css, css/phone.css)

# Added files:
['css/apps.css', 'css/base.css', 'css/components.css', 'css/desktop.css', 'css/phone.css']

# Deleted files:
['style.css']

# Modified files:
['index.html']